@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');


.head{
  font-family: 'Unbounded', cursive;
}

.content{
  font-family: 'Sorts Mill Goudy', serif;
}

.subtitle{
  font-family: 'Yrsa', serif;
}

.footer{
  font-family: 'Dongle', sans-serif;
}

.card {
  transition: transform 0.5s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}
.card:hover {
  transform: scale(1.1);
}

.profile{
  border: solid black 3px;
  padding: 3px;
}

.progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.progress {
  width: 30%;
}

.progress-bar {
  height: 25px;
}
